<div class="row">
  <div class="col-md-12">
    <img
    [src]="recipe.imagePath"
    [alt]="recipe.name"
    class='img-responsive max-300'>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>{{recipe.name }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="dropdown">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        appDropdown
        >
        Manage recipe
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" #dropdown>
        <a class="dropdown-item" (click)='addIngredientsToShoppingList()'>Add Ingredients to Shopping List</a>
        <a class="dropdown-item" [routerLink]="['edit']">Edit Recipe</a>
        <a class="dropdown-item" (click)="onDeleteRecipe()">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4 class="mt-4 mb-4">{{recipe.description}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Ingredients</h4>
    <ul class='list-group'>
      <li
      *ngFor='let i of recipe.ingredients'
      class='list-group-item'
      appHighlight
      >{{i.name}} - {{i.amount}}{{i.units}}</li>
    </ul>
  </div>
</div>
