<ng-template appPlaceholder></ng-template>
<div class="row">
  <div class="col-8 offset-2 mt-2">
    <!-- <app-alert [message]='authError' *ngIf="authError" (closeAlert)="onHandleError()"></app-alert> -->
    <form
      *ngIf="!isLoading"
      #authForm='ngForm'
      (ngSubmit)='onSubmit(authForm)'
    >
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          ngModel
          name='email'
          required
          email
        >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          ngModel
          name='password'
          required
          minlength="6"
        >
      </div>
      <div>
        <button
          [disabled]="authForm.invalid"
          class='btn btn-primary mr-3'
          type='submit'
        >{{authString(false)}}</button>
        <button
          class='btn btn-warning'
          (click)="onSwitchMode()"
          type='button'
        >Switch to {{authString(true)}}</button>
      </div>
    </form>
    <div *ngIf='isLoading' class='text-center'>
      <app-loader></app-loader>
    </div>
  </div>
</div>
